* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

body {
    background-color: var(--grey-900);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: var(--white);
}

.container {
    padding: 30px;
}

.profile-card {
    background-color: var(--grey-800);
    max-width: 600px;
    padding:40px;
    border-radius: 15px;
    width: 400px;
    padding: 36px;
    text-align: center;
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.profile-info {
    /* background-color: wheat; */
    margin-top: 10px;
}

.profile-info h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.2;
}

.profile-info p {
    font-size: 14px;
    font-weight: 600;
    color: var(--green);
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quote p {
    font-weight: 400;
    margin: 24px 0px;
    color: var(--white);
    font-size: 14px;
}

ul li a {
    display: block;
    background-color: var(--grey-700);
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    line-height: 1.2;
    padding: 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

ul li a:hover {
    background-color: var(--green);
    color: var(--grey-900);
}